body{
    font-style: normal;
    font-family: "Open Sans", serif; 
    font-size: 1em;
    line-height: 150%;
    color:beige;
    max-width: 90%;
    margin: 10px auto;
    background: -webkit-linear-gradient(7deg, rgb(151, 183, 211), rgb(20, 90, 56));
    background: linear-gradient(7deg, rgb(151, 183, 211), rgb(20, 90, 56));
}
.date{
    background-color: #61d959;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 20px auto;
    border: 3px solid white;
    width: 20%;
    border-radius: 10%;
    color: black;
}
h1{
    font-size: 250%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-variant: small-caps;
    color: black;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18
}
img{
    display: block;
    margin: 10px auto;
    border: 5px transparent beige;
    border-radius: 8%;
    width: 50%;
    display: inline-block;
    float: left;
}
img:hover{
    outline: 4px solid beige;
}
.quotation{
    width: 50%;
    margin: 10px auto;
    font-size: 160%;
    font-style: italic;
    background-color: rgb(187, 187, 187);
    border-left: 3px solid black;
    padding: 80px 30px;
}
a{
    font-size: 115%;
}
a:hover{
    background-color: green;
    color:yellow;
    border: 1px solid black;
}
a:visited{
    color: purple;
}
.quote{
    font-style: italic;
    width: 50%;
    display: block;
    margin: auto 50px ;
    background-color: rgb(187, 187, 187);
    padding-left: 30px;
    font-size: 120%;
    color: black;
}
.villagers{
    border-left: 3px solid red;
}
.farmer{
    border-left:3px solid black;
}
.story{
    text-align: justify;
    display: block;
    margin: auto;
    border: 3px solid beige;
    border-radius: 1%;
    padding: 15px;
    width: 50%;
}
table{
    table-layout: fixed;
    width: 50%;
    border: 2px solid beige;
    border-collapse: collapse;
    margin: auto;
    padding: 5px;
    color: black;
}
td, tr{
    border: 2px solid beige;
    width: 50%;
    text-align: center;
}
tr:nth-child(even){
    background: beige;
}
tr:nth-child(odd){
    background: rgba(134, 200, 134, 0.564);
}
thead{
    background: rgba(165, 42, 42, 0.553);
    font-weight: bold;
}
ul{
    list-style: inside;
    list-style-type:"\1F449";
    border: 3px solid white;
    border-radius: 10%;
    display: block;
    margin: auto;
    padding: 10px;
    width: 20%;
    text-align: justify;
}
li{
    padding: 2px;
}
.preamble{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.preblock{
    width: 50%;
    float: right;
}
hr{
    border: 5px solid green;
    border-radius: 5px;
    width: 66%;
    margin: 20px auto;
}
.good{
    color: green;
    font-variant: small-caps;
}
.bad{
    color: red;
    font-variant: small-caps;
}
.first{
    font-weight: bold;
}